body{
	background-color: black !important;
}

#prodiv{
	position: absolute;
	top: 20px;
	left: 10px;
}

#probut{
	font-family: 'Lobster';
	font-size: 30px;
	color: white;
	background-color: black;
	padding: 10px;
	border-color: white;
	border-style: solid;
}

#probut:hover{
	text-decoration: none;
	color: black;
	background-color: white;
	border-style: solid;
	border-color: black;
}

#game{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 300px;
}

.bord{
	width: 100px;
	height: 100px;
	border-color: white !important;
	text-align: center;
}

.bord1{
	border-bottom: solid;
	border-right: solid;
}

.bord2{
	border-bottom: solid;
}

.bord3{
	border-right: solid;
}

h1{
	font-size: 50px;
	font-family: 'Ewert', cursive;
}

#menu{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 400px;
	text-align: center;
	font-family: 'Ewert', cursive;
	color: white;
	font-size: 30px;
}

#winner{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: 143px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: 'Ewert', cursive;
	color: black;
	background-color: white;
	width: 500px;
}

#menubutton{
	position: relative;
	float: right;
	font-family: 'Ewert', cursive;
	color: white;
	font-size: 30px;
}

#menubutton:hover{
	color:grey;
}

#player{
	float: right;
	font-family: 'Ewert', cursive;
	color: white;
	font-size: 20px;
}

a{
	color:white;
}

a:hover{
	color: grey;
	text-decoration: none;
	cursor: default;
}

.XO{
	color: white;
}